.dashboard-layout {
    display: flex; /* Utiliser flexbox pour la mise en page */
  }
  
  .main-content {
    margin-left: 250px; /* Espace pour la sidebar */
    transition: margin-left 0.3s ease; /* Animation pour le décalage */
  }
  
  .main-content.shifted {
    margin-left: 0%; /* Réduit l'espace lorsque la sidebar est fermée */
  }
  

  .dashboard-stats {
  padding: 2rem;
  background-color: #f8f9fa;
  flex: 1;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.chart-card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-card h3 {
  margin: 0;
  margin-bottom: 1rem;
}
